// GENERAL PROJECT STYLES
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

section,
footer {
  position: relative;
  padding: 5% 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  background-color: $accent;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 15px;
  padding: 12px 28px;
  border-radius: 0 5px 0 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: lighten($accent, 5%);
    color: #fefefe;
  }
}

.heading__primary-title {
  color: $accent;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.heading__bold-title {
  font-weight: 800;
  font-size: 29px;
}

.read-more__link {
  font-size: 15px;
  font-weight: 800;
  color: $text-color;
  margin-top: auto;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}

.decoration__dot {
  width: 5px;
  height: 5px;
  display: block;
  transition: all 0.3s ease;
  background-color: $light-disabled;
  border-radius: 50%;
}

.corner {
  position: absolute;
  display: block;
  width: $corner-width;
  height: $corner-height;
  background-color: transparent;
  transition: opacity 0.3s ease;
  opacity: 0;
  &__top {
    top: 20px;
    left: 20px;
  }
  &__top:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: $corner-thickness;
    height: 100%;
  }
  &__top:after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: $corner-thickness;
  }
  &__bottom {
    bottom: 20px;
    right: 20px;
  }
  &__bottom:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: $corner-thickness;
    height: 100%;
  }
  &__bottom:after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $corner-thickness;
  }
}

.item__date {
  display: inline-block;
  background-color: $accent;
  font-family: "Roboto" sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 0 5px;
}

.item__title {
  color: $text-color;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 10px;
  border-left: 3px solid $accent;
}

/*------------------Header------------------*/

.home-header {
  padding: 10px;
  background-color: $dark;
  color: #fff;
  min-height: 100vh;
  height: 650px;
  position: relative;
  .header__content {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
  .header-topline-wrapper {
    border-bottom: 1px solid rgba(#fff, 0.1);
    padding-bottom: 20px;
    width: 92.5%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul li a {
    text-decoration: none;
    color: #fff;
  }
  .navbar__menu {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    .navbar-menu__link {
      padding: 10px 20px;
      margin-right: 20px;
      transition: all 0.3s ease;
      border-radius: 0 10px 0 10px;
      &:hover {
        background-color: rgba($alt-gray, 0.25);
      }
    }
  }
  .navbar__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($alt-gray, 0.25);
    border-radius: 120px;
    padding: 8px 12px;
    line-height: 18px;
    .social__link {
      padding: 12px;
      transition: all 0.3s ease;
      &:hover {
        color: $accent;
      }
      .fab {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}

.header__hero {
  height: calc(100% - 60px);
  overflow: hidden;
  .header-hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 85%;
    overflow: hidden;
  }
  .hero__title {
    font-size: 3.8rem;
    font-weight: 300;
    margin-top: 40px;
  }
  .hero__secondary-title {
    background-color: $accent;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px 0 10px 0;
  }
  .hero__description {
    margin: 20px 0;
    padding: 15px;
    height: auto;
    width: 40%;
    background-color: rgba($dark, 0.9);
    border-radius: 10px 0 10px 0;
    line-height: 1.7;
  }
}

.home-header__slider {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .header-slider__slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .header-slider__bg {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .home-header-slider__controls {
    padding: 15px 10px 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 90px;
    width: 30%;
    left: 50%;
    bottom: 90px;
    margin-left: 20%;
    border-radius: 10px 0 0 0;
    background-color: $dark;
  }
  .header-slider__pagination {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    width: 70px;
    position: relative;
    bottom: 0;
    height: 28px;
    margin-right: 20px;
    .pagination-current,
    .pagination-total {
      height: 28px;
      width: 50%;
      padding: 6px;
    }
    .pagination-current {
      color: #818b9d;
      border-right: 1px solid #353941;
    }
    .pagination-total {
      color: #59606c;
      font-size: 14px;
    }
  }
  .header-slider__scrollbar {
    height: 5px;
    width: 50%;
    background-color: #1a1c20;
    .swiper-scrollbar-drag {
      cursor: pointer;
    }
  }
  .header-slider__navigation {
    width: 80px;
    align-self: center;
    position: absolute;
    right: 10px;
    padding: 0 10px;

    .header-slider__button-prev,
    .header-slider__button-next {
      &::after {
        font-size: 18px;
        color: #818b9d;
      }
    }
  }
}

/*------------------Trust Section------------------*/

.s-trust {
  background-color: $deep-dark;
  color: $dark-header;
  .trust__inner {
    display: flex;
    justify-content: space-between;
    .trust__teasers {
      align-self: flex-start;
      width: 66.6666666%;
    }
  }
  .trust__title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
    margin-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 220px;
      height: 1px;
      bottom: 0;
      background-color: $dark-div;
    }
  }
}

.trust__call {
  display: flex;
  flex-direction: column;
  width: 33.3333333%;
  text-align: right;
  .call__description {
    margin-bottom: 10px;
  }
  .call__phone-number {
    text-decoration: none;
    font-size: 2.2em;
    color: #fff;
    font-family: "Roboto" sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    &:hover {
      color: #e7e7e7;
    }
  }
  .call__button {
    align-self: flex-end;
  }
}

.teaser__list {
  display: flex;
  flex-wrap: wrap;
  .teaser__item {
    font-size: 14px;
    flex: 0 1 25%;
    margin: 8px 15px 8px 0;
    .teaser__number {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      &::after {
        content: "\20";
      }
    }
  }
}

/*------------------Best Works Section------------------*/

.s-bestworks {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: $dark;
  }
  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: $light-bg;
  }
  .bestworks__content {
    position: relative;
    z-index: 1;
  }
  .bestworks__top-content {
    min-height: 120px;
    width: 90%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    .bestworks__description,
    .bestworks__heading {
      width: 50%;
    }
    .bestworks__description {
      border-right: 1px solid $dark-div;
      text-align: right;
      color: #fff;
      padding: 0 3% 2% 0;
      margin-bottom: 0;
    }
    .bestworks__heading {
      padding-left: 3%;
      .heading__bold-title {
        color: #fff;
      }
    }
  }
  .bestworks__items {
    position: relative;
    .bestworks__item {
      background-color: #fff;
      border-bottom: 3px solid $light-disabled;
      transition: all 0.3s ease;
      height: 100%;
      margin-bottom: 25px;
      &:hover {
        border-bottom: 3px solid $accent;
      }
      .bestworks-item-image__wrapper {
        display: block;
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        cursor: pointer;
        &:hover .corner {
          opacity: 1;
        }
      }
      .bestworks-item__image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
      .bestworks-item__content {
        align-self: flex-end;
        padding: 25px 30px 0;
        width: 100%;
        background-color: #fff;
        .bestworks-item__location {
          display: flex;
          align-items: center;
          .bestworks-item__map-marker {
            align-self: start;
            width: 12px;
            height: auto;
          }
          .bestworks-item__address {
            margin-left: 10px;
            color: #989da5;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: 700;
            position: relative;
            margin-bottom: 5px;
          }
        }
        .bestworks-item-link__wrapper {
          display: flex;
          align-items: center;
          &:hover .decoration__dot {
            background-color: $accent;
          }
          &:hover .bestworks-item__link {
            text-decoration: underline;
          }
        }
        .bestworks-item-decoration__dots {
          width: 8px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          align-items: center;
          margin-right: 10px;
        }
        .bestworks-item__link {
          font-size: 20px;
          font-weight: 700;
          color: $text-color;
          text-decoration: none;
          transition: all 0.3s ease;
        }
      }
    }
    .bestworks-items__button-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      margin-top: 3%;
    }
  }
}

/*------------------About Section------------------*/

.s-about {
  padding-top: calc(5% + 15px);
  .about__image {
    width: 440px;
    height: 530px;
    max-height: 100%;
    object-position: center bottom;
    border-radius: 0 5px 0 5px;
    position: relative;
    z-index: 2;
  }
  .about-image__content {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 0;
    padding-bottom: 15px;
  }
  .about__benefit {
    position: absolute;
    right: 8%;
    color: #fff;
    background-color: rgba($dark, 0.8);
    border-radius: 0 5px 0 5px;
    bottom: 12%;
    display: inline-block;
    padding: 15px 30px;
    z-index: 3;
    .benefit__digit {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 1.2;
      margin-right: 10px;
    }
    .benefit__phrase {
      display: inline-block;
      vertical-align: baseline;
      line-height: 22px;
    }
  }
  .about-image__wrapper {
    display: block;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -15px;
      left: -15px;
      width: 50%;
      height: 50%;
      background-color: rgba($dark, 0.1);
      border-radius: 0 5px 0 5px;
      z-index: 1;
    }
  }
  .about__articles {
    color: $text-color;
    .articles__heading {
      .heading__bold-title {
        color: $text-color;
      }
    }
    .articles__decoration-dots {
      display: flex;
      justify-content: space-between;
      width: 35px;
      margin: 28px 0;
      .decoration__dot {
        background-color: $accent;
      }
    }
    .articles__description {
      font-size: 15px;
      color: $text-color;
      font-weight: 400;
      line-height: 24px;
    }
    .about__article {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
    .about-article__heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 1px solid $light-div;

      .about-article__title {
        margin: 0;
        color: $text-color;
        font-size: 19px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
      }
      .about-article__icon {
        margin-right: 15px;
      }
      svg path {
        fill: $accent;
      }
      #eco-icon {
        width: 52px;
        height: auto;
        transform: rotate(-22deg);
      }
      #woodcut-icon {
        width: 40px;
        height: auto;
      }
    }
  }
}

/*------------------Partners Section------------------*/

.s-partners {
  padding: 0;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .partners__overlay {
    padding: 4% 0;
    height: 100%;
    text-align: center;
    background-color: rgba($dark, 0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .partners-item__container {
    margin-top: 20px;
  }
  .partner__item {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    padding-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .partner__logo {
    margin: 0 auto;
    justify-self: center;
  }
  .partner__logo[alt="milano"] {
    width: 100px;
  }
  .partner__logo[alt="mazzucato"] {
    width: 160px;
  }
  .partner__logo[alt="fanfani"] {
    width: 156px;
  }
  .partner__logo[alt="cappelini"] {
    width: 80px;
  }
  .partner__description {
    font-weight: 400;
    font-size: 14px;
    justify-self: flex-end;
    margin-bottom: 0;
    padding-top: 10px;
    .partner__brand {
      color: $accent;
      font-weight: 800;
    }
  }
}

/*------------------Blog Section------------------*/

.s-blog {
  .heading__bold-title {
    color: $dark;
    text-align: center;
  }
  .blog-items-container {
    margin-top: 20px;
  }
  .home-blog__slider {
    padding-bottom: 50px;
  }
  .blog-slider__pagination {
    bottom: 0;
    .swiper-pagination-bullet {
      width: 25px;
      height: 5px;
      border-radius: 0 5px;
      background: $accent;
    }
  }
  .blog-slider__item {
    position: relative;
    height: auto;
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 0 5px;
    .blog-item-all-image__wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      .blog-item-all__link {
        color: $text-color;
        font-weight: 500;
        font-size: 18px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#f4f8ff, 0.9);
      }
    }
    .blog-item__image,
    .blog-item-all__image,
    .overlay {
      border-radius: 0 5px;
    }
    .blog-item__image {
      height: 196px;
      max-height: 100%;
      width: 100%;
    }
    .blog-item-all__image {
      display: block;
      height: 100%;
    }
    .item__date {
      position: absolute;
      top: 25px;
      left: 25px;
    }
    .item__title {
      margin-top: 22px;
    }
    .blog-item__description {
      color: $text-color;
      padding: 0 13px;
      margin: 17px 0;
    }
    .read-more__link {
      padding-left: 13px;
    }
  }
}
