// GENERAL PROJECT STYLES
/*---------------Utils-----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

section,
footer {
  position: relative;
  padding: 5% 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.bt-gray {
  border-top: 1px solid #e7e7e8;
}

.bg-dark {
  color: #fff;
  background-color: $dark;
}

.svg-icon {
  position: relative;
  height: auto;
}

svg path {
  fill: $accent;
}

.eco-icon {
  width: 52px;
  transform: rotate(-22deg);
}

.woodcut-icon {
  width: 40px;
}

.team-icon {
  width: 55px;
}

.delivery-icon {
  width: 69px;
}

.materials-icon {
  width: 42px;
}

.creative-icon {
  width: 42px;
}

.article__title {
  margin: 0;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.partner__title {
  color: $accent;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.4;
}

.button {
  display: inline-block;
  border: none;
  color: #fff;
  background-color: $accent;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 15px;
  padding: 12px 28px;
  border-radius: $even-corners;
  transition: all 0.3s ease;
  &:hover {
    background-color: lighten($accent, 5%);
    color: #fefefe;
  }
}

.section-header {
  text-align: center;
}

.main-img__wrapper {
  border: 1px solid $light-disabled;
  padding: 15px;
  margin: 10px 0;
}

.content-text {
  padding: 15px 0;
  margin-bottom: 0;
}
.content-img {
  padding: 20px 0;
  height: 100%;
}
.content-img,
.main__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.modal-img-wrapper {
  display: block;
  height: 500px;
  width: 100%;
  border: none;
  padding: 0;
  background-color: transparent;
  margin-bottom: 15px;
  position: relative;
}

form input,
form textarea {
  border-radius: $even-corners;
  border: 1px solid $light-disabled;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  &::placeholder {
    color: #888;
  }
}

.scroll-top__btn {
  display: none;
  position: fixed;
  z-index: 9;
  display: block;
  opacity: 0;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  width: 50px;
  line-height: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid $accent;
  text-decoration: none;
  border-radius: $even-corners;
  transition: all 0.3s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: $accent;
    .fas {
      color: #fff;
    }
  }
  .fas {
    position: absolute;
    font-size: 18px;
    top: 14px;
    left: 14px;
    cursor: pointer;
    color: $accent;
  }
}

.scroll-top__btn.active {
  opacity: 1;
  display: block;
}

.heading__primary-title {
  color: $accent;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main__bold-title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.heading__bold-title {
  font-weight: 800;
  font-size: 29px;
}

.category__title {
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

.section__description {
  max-width: 550px;
  padding: 20px;
  color: $text-light-color;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.bt-line-decored {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: $accent;
    border-radius: $even-corners;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
}

.read-more__link {
  font-size: 15px;
  font-weight: 800;
  color: $text-color;
  margin-top: auto;
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}

.decoration__dot {
  width: 5px;
  height: 5px;
  display: block;
  transition: all 0.3s ease;
  background-color: $light-disabled;
  border-radius: 50%;
}

.grid-row-2x {
  grid-row-start: span 2;
}

.corner {
  position: absolute;
  display: block;
  width: $corner-width;
  height: $corner-height;
  background-color: transparent;
  transition: opacity 0.3s ease;
  opacity: 0;
  &__top {
    top: 20px;
    left: 20px;
  }
  &__top:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: $corner-thickness;
    height: 100%;
  }
  &__top:after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: $corner-thickness;
  }
  &__bottom {
    bottom: 20px;
    right: 20px;
  }
  &__bottom:before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: $corner-thickness;
    height: 100%;
  }
  &__bottom:after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $corner-thickness;
  }
}

.item__location {
  display: flex;
  align-items: center;
  .item__map-marker {
    align-self: start;
    width: 12px;
    height: auto;
  }
  .item__address {
    margin-left: 10px;
    color: #989da5;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    margin-bottom: 5px;
  }
}

.item__date {
  display: inline-block;
  background-color: $accent;
  font-family: "Roboto" sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: $even-corners;
}

.item__title {
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 800;
}

.left-border {
  padding-left: 10px;
  border-left: 3px solid $accent;
}

.items__button-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: $light-bg;
  margin-top: 3%;
}

/*------------------LOADER------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: $deep-dark;
  transition: all 0.3s ease-in-out 0.2s;
  z-index: 98;
  &-finish {
    visibility: hidden;
    opacity: 0;
  }
  &-circle {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-right: -50%;
    margin-top: -60px;
    border: 16px solid $dark;
    border-radius: 50%;
    border-top: 16px solid $accent;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------------------Header------------------*/

.home-header {
  padding: 10px;
  background-color: $dark;
  color: #fff;
  min-height: 100vh;
  height: 650px;
  overflow: hidden;
  .header__content {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
  }
}

.header-topline-wrapper {
  border-bottom: 1px solid rgba(#fff, 0.1);
  padding-bottom: 20px;
  width: 92.5%;
  margin: 0 auto;
  margin-bottom: 20px;
  &--innerpage {
    width: 100%;
    margin: 0;
    padding: 32px 0 22px;
    border: none;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(#000, 0.05);
    box-shadow: 0px 10px 40px 0px rgba(#000, 0.05);
  }
}

.home-header__slider {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .header-slider__slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($dark, 0.1);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .header-slider__bg {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .home-header-slider__controls {
    padding: 15px 10px 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 90px;
    width: 30%;
    left: 50%;
    bottom: 90px;
    margin-left: 20%;
    border-radius: 10px 0 0 0;
    background-color: $dark;
  }
  .header-slider__pagination {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 300;
    width: 70px;
    position: relative;
    bottom: 0;
    height: 28px;
    margin-right: 20px;
    .pagination-current,
    .pagination-total {
      height: 28px;
      width: 50%;
      padding: 6px;
    }
    .pagination-current {
      color: #818b9d;
      border-right: 1px solid #353941;
    }
    .pagination-total {
      color: #59606c;
      font-size: 14px;
    }
  }
  .header-slider__scrollbar {
    height: 5px;
    width: 50%;
    position: absolute;
    left: 22.5%;
    background-color: #1a1c20;
    .swiper-scrollbar-drag {
      cursor: pointer;
    }
  }
  .header-slider__navigation {
    width: 80px;
    align-self: center;
    position: absolute;
    right: 3%;
    padding: 0 10px;

    .header-slider__button-prev,
    .header-slider__button-next {
      &::after {
        font-size: 18px;
        color: #818b9d;
      }
    }
  }
}

.logo {
  &__icon {
    width: 15px;
    height: 15px;
    border: 2px solid $accent;
    border-radius: $even-corners;
    display: inline-block;
    position: relative;
    margin-right: 7px;
  }
  &__link {
    white-space: no-wrap;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.75px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      opacity: 0.9;
    }
    span {
      display: block;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 3.4px;
      text-transform: none;
      font-weight: 300;
      opacity: 0.45;
      margin-left: 28px;
    }
  }
  &--dark {
    color: $dark-header;
    a.logo__link {
      color: $dark;
      &:hover,
      &:active,
      &:focus {
        color: $deep-dark;
        opacity: 0.9;
      }
    }
  }
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar__menu {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    .navbar-menu__link {
      text-decoration: none;
      color: #fff;
      padding: 10px 15px;
      margin-right: 10px;
      transition: all 0.3s ease;
      border-radius: 0 10px 0 10px;
      &:hover,
      &:active,
      &:focus,
      &.active {
        background-color: rgba($alt-gray, 0.25);
      }
    }
  }
  &--white {
    .navbar__menu {
      display: flex;
      padding: 6px 0;
      .navbar-menu__link {
        color: $dark;
        text-decoration: none;
        padding: 10px 15px;
        margin-right: 10px;
        transition: all 0.3s ease;
        border-radius: $even-corners;
        &:hover,
        &:active,
        &:focus,
        &.active {
          background-color: $accent;
          color: #fff;
        }
      }
    }
  }
}

.hamburger {
  width: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  z-index: 5;
  &.innerpage {
    .bar {
      background-color: $middle-gray;
    }
  }
  .bar {
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
}

.navbar__social {
  background-color: rgba($alt-gray, 0.25);
  .social__link {
    padding: 6px 12px;
    transition: all 0.3s ease;
    color: #fff;
    &:hover {
      color: $accent;
    }
    .fab {
      font-size: 18px;
      line-height: 18px;
    }
  }
  &--innerpage {
    background-color: transparent;
    .social__link {
      color: $middle-gray;
      transition: all 0.3s ease;
      &:hover {
        color: $accent;
      }
      .fab {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}

.navbar__social,
.navbar__social--innerpage {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  border-radius: 120px;
  margin-bottom: 12px;
  padding: 8px 12px;
  line-height: 18px;
}

.header__hero {
  height: calc(100% - 60px);
  overflow: hidden;
  .header-hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }
  .hero__title {
    font-size: 3.8rem;
    font-weight: 300;
    margin-top: 40px;
  }
  .hero__secondary-title {
    background-color: $accent;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px 0 10px 0;
  }
  .hero__description {
    margin: 20px 0;
    padding: 15px;
    height: auto;
    width: 80%;
    background-color: rgba($dark, 0.9);
    border-radius: 10px 0 10px 0;
    line-height: 1.7;
  }
}

/*------------------Trust Section------------------*/

.s-trust {
  background-color: $deep-dark;
  color: $dark-header;
  .trust__inner {
    display: flex;
    justify-content: space-between;
    .trust__teasers {
      align-self: flex-start;
      width: 66.6666666%;
    }
  }
  .trust__title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
    margin-bottom: 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 220px;
      height: 1px;
      bottom: 0;
      background-color: $dark-div;
    }
  }
}

.trust__call {
  display: flex;
  flex-direction: column;
  width: 33.3333333%;
  text-align: right;
  .call__description {
    margin-bottom: 10px;
  }
  .call__button {
    align-self: flex-end;
  }
}

.call__phone-number {
  text-decoration: none;
  font-size: 2.2em;
  color: #fff;
  font-family: "Roboto" sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  &:hover {
    color: #e7e7e7;
  }
}

/*-----------------------Trust Section Modal--------------------------*/

.modal__container {
  width: 450px;
  min-width: 350px;
  button {
    outline: none;
    cursor: pointer !important;
  }
  h2.modal__title {
    color: $dark;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  font-size: 20px;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  .modal__form input,
  .modal__form textarea {
    border-color: $light-disabled;
    &:active,
    &:focus {
      border-color: $accent;
    }
  }
}

.modal__footer {
  padding: 0;
  text-align: center;
}

.modal__btn {
  padding: 10px 15px;
  border-radius: 4px;
  -webkit-appearance: none;
}

/*-----------------Modal Media Queries--------------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .modal__container {
    width: 90% !important;
    min-width: 90% !important;
  }

  @supports (display: flex) {
    .modal__container {
      width: 90% !important;
      min-width: 90% !important;
    }
  }
}

.teaser__list {
  display: flex;
  flex-wrap: wrap;
  .teaser__item {
    font-size: 14px;
    flex: 0 1 25%;
    margin: 8px 15px 8px 0;
    .teaser__number {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      &::after {
        content: "\20";
      }
    }
  }
}

/*------------------Best Works Section------------------*/

.s-bestworks {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: $dark;
  }
  &::after {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background-color: $light-bg;
  }
  .bestworks__content {
    position: relative;
    z-index: 1;
  }
  .bestworks__top-content {
    min-height: 120px;
    width: 90%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    .bestworks__description,
    .bestworks__heading {
      width: 50%;
    }
    .bestworks__description {
      border-right: 1px solid $dark-div;
      text-align: right;
      color: #fff;
      padding: 0 3% 2% 0;
      margin-bottom: 0;
    }
    .bestworks__heading {
      padding-left: 3%;
      .heading__bold-title {
        color: #fff;
      }
    }
  }
  .bestworks__items {
    position: relative;
    .bestworks__item {
      background-color: #fff;
      border-bottom: 3px solid $light-disabled;
      transition: all 0.3s ease;
      height: 100%;
      margin-bottom: 25px;
      &:hover {
        border-bottom: 3px solid $accent;
      }
      .item-image__wrapper {
        display: block;
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        cursor: pointer;
        &:hover .corner {
          opacity: 1;
        }
      }
      .item__image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
      .item__content {
        align-self: flex-end;
        padding: 25px 30px 0;
        width: 100%;
        background-color: #fff;
        .item__location {
          .item__address {
            font-size: 15px;
          }
        }
        .item-link__wrapper {
          display: flex;
          align-items: center;
          &:hover .decoration__dot {
            background-color: $accent;
          }
          &:hover .item__link {
            text-decoration: underline;
          }
        }
        .item-decoration__dots {
          width: 8px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          align-items: center;
          margin-right: 10px;
        }
        .item__link {
          font-size: 20px;
          font-weight: 700;
          color: $text-color;
          text-decoration: none;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

/*------------------About Section------------------*/

.s-about {
  padding-top: calc(5% + 15px);
  .about__image {
    width: 440px;
    height: 530px;
    max-height: 100%;
    object-position: center bottom;
    border-radius: $even-corners;
    position: relative;
    z-index: 2;
  }
  .about-image__content {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 0;
    padding-bottom: 15px;
  }
  .about__benefit {
    position: absolute;
    right: 8%;
    color: #fff;
    background-color: rgba($dark, 0.8);
    border-radius: $even-corners;
    bottom: 12%;
    display: inline-block;
    padding: 15px 30px;
    z-index: 3;
    .benefit__digit {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 1.2;
      margin-right: 10px;
    }
    .benefit__phrase {
      display: inline-block;
      vertical-align: baseline;
      line-height: 22px;
    }
  }
  .about-image__wrapper {
    display: block;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -15px;
      left: -15px;
      width: 50%;
      height: 50%;
      background-color: rgba($dark, 0.1);
      border-radius: $even-corners;
      z-index: 1;
    }
  }
  .about__articles {
    .articles__decoration-dots {
      display: flex;
      justify-content: space-between;
      width: 35px;
      margin: 28px 0;
      .decoration__dot {
        background-color: $accent;
      }
    }
    .articles__description {
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
    .about__article {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
    .about-article__heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 1px solid $light-div;
      .about-article__icon {
        margin-right: 15px;
      }
    }
  }
}

/*------------------Partners Section------------------*/

.s-partners {
  padding: 0;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .partners__overlay {
    padding: 4% 0;
    height: 100%;
    text-align: center;
    background-color: rgba($dark, 0.9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .partners-item__container {
    margin-top: 20px;
  }
  .partner__item {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .partner-logo__wrapper {
    display: flex;
    width: 100%;
    min-height: 65px;
    justify-content: center;
    align-items: center;
  }
  .partner__logo {
    margin: 0 auto;
    justify-self: center;
  }
  .partner__logo[alt="milano"] {
    width: 100px;
  }
  .partner__logo[alt="mazzucato"] {
    width: 160px;
  }
  .partner__logo[alt="fanfani"] {
    width: 156px;
  }
  .partner__logo[alt="cappelini"] {
    width: 80px;
  }
  .partner__description {
    font-weight: 400;
    font-size: 14px;
    justify-self: flex-end;
    margin-bottom: 0;
    padding-top: 10px;
    .partner__brand {
      color: $accent;
      font-weight: 800;
    }
  }
}

/*------------------Blog Section------------------*/

.s-blog {
  .heading__bold-title {
    color: $dark;
    text-align: center;
  }
  .blog-items-container {
    margin-top: 20px;
  }
  .home-blog__slider {
    padding-bottom: 50px;
  }
  .blog-slider__pagination {
    bottom: 0;
    .swiper-pagination-bullet {
      width: 25px;
      height: 5px;
      border-radius: $even-corners;
      background: $accent;
    }
  }
}

.blog__item {
  position: relative;
  height: auto;
  width: 100%;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: $even-corners;
  .blog-item-all-image__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .blog-item-all__link {
      color: $text-color;
      font-weight: 500;
      font-size: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#f4f8ff, 0.9);
    }
  }
  .blog-item__image,
  .blog-item-all__image,
  .overlay {
    border-radius: $even-corners;
  }
  .blog-item__image {
    height: 196px;
    max-height: 100%;
    width: 100%;
  }
  .blog-item-all__image {
    display: block;
    height: 100%;
  }
  .item__date {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .item__title {
    margin-top: 22px;
  }
  .blog-item__description {
    padding: 0 13px;
    margin: 17px 0;
  }
  .read-more__link {
    padding-left: 13px;
  }
}

/*------------------Footer------------------*/
.footer {
  color: #fff;
  background-color: $deep-dark;
  .logo {
    color: #fff;
    opacity: 0.45;
    margin-bottom: 8%;
    &__icon {
      border-color: #fff;
    }
  }

  .category__title.bt-line-decored {
    margin-bottom: 40px;
  }

  p.footer-description {
    font-size: 13px;
    padding-right: 15px;
    line-height: 1.7;
    color: rgba(#fff, 0.7);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 20px 0;
  }

  .footer__nav {
    margin: 20px 0;
    li {
      margin-bottom: 10px;
      a.footer-menu__link {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        transition: all 0.3s ease;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $accent;
          text-decoration: underline;
        }
      }
    }
  }

  .footer__socials {
    display: flex;
    li {
      margin-right: 12px;
      border: 1px solid rgba($alt-gray, 0.25);
      border-radius: $even-corners;
      &:hover,
      &:focus,
      &:active {
        border: 1px solid transparent;
      }
      &:hover a.footer-socials__link,
      &:focus a.footer-socials__link,
      &:active a.footer-socials__link {
        color: #fff;
        background-color: $accent;
      }
      a.footer-socials__link {
        font-size: 16px;
        line-height: 16px;
        border-radius: $even-corners;
        display: inline-block;
        padding: 12px;
        transition: all 0.3s ease;
        color: $alt-gray;
      }
    }
  }
}

/*------------------PROJECTS PAGE----------------*/
/*------------------Projects Section-------------*/
.s-projects {
  text-align: center;

  .projects__wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 20px;

    .projects__item {
      font-family: sans-serif;
      text-align: center;
      color: $text-light-color;
      position: relative;
      &.grid-item {
        min-height: 100%;
        height: 33vh;
      }
      .item__link {
        color: $text-light-color;
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        text-decoration: none;
        .item__img {
          display: block;
          object-fit: cover;
          object-position: center;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .item-img__overlay {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          overflow: hidden;
          z-index: 1;
          top: 10px;
          left: 10px;
          right: 10px;
          bottom: 10px;
          transform: scale(0.9);
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          transition: all 0.3s ease-in-out;
          background-color: rgba(#fff, 0.9);
          visibility: hidden;
          opacity: 0;
        }
        .item-customer__description {
          margin: 3px 0;
          color: $text-light-color;
          line-height: 1.7;
          font-size: 14px;
          font-weight: 400;
        }
        .item__title {
          color: $text-color;
          font-size: 18px;
          line-height: 1.25;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 15px;
        }
        .item__action {
          text-decoration: none;
          font-size: 16px;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
        &:hover .item-img__overlay {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }
}

/*------------------Project Page----------------*/
.project__top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .project__breadcrumbs {
    display: flex;
    font-size: 14px;
    font-family: "Raleway" sans-serif;
    .breadcrumbs__link {
      color: #ccc;
      font-weight: 600;
      transition: all 0.3s ease;
      position: relative;
      margin-right: 20px;
      &:hover,
      &:active,
      &:focus {
        color: #888;
        text-decoration: none;
      }
      &.active {
        font-weight: 700;
        color: #888;
        &::after {
          display: none;
        }
      }
      &::after {
        content: "\003E";
        position: absolute;
        right: -14px;
        height: 100%;
        color: #ccc;
        font-weight: 400;
      }
    }
  }
}

.project__gallery {
  width: 100%;
  height: 640px;
  background-color: transparent;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__top {
    width: 100%;
    height: calc(100% - 100px);

    .swiper-button-hide {
      opacity: 0;
      color: #fff;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.4;
      }
    }

    .swiper-slide-active img {
      border: 3px solid $dark-header;
    }
  }
  .gallery__thumbs {
    padding: 7px 0;
    width: 100%;
    .swiper-slide {
      width: 143px;
      height: 84px;
      img {
        border: 3px solid $dark-header;
      }
      &-thumb-active {
        img {
          border: 3px solid $accent;
        }
      }
    }
  }
}

.project__inner-content {
  padding-top: 0;
  .project__info {
    .info__text {
      font-size: 16px;
      margin: 15px 0;
    }
    .info__img {
      width: 100%;
      object-fit: cover;
    }
  }
  .project__sidebar {
    padding: 15px 0;
    text-align: center;
    .author__bio,
    .author__role,
    .author__name {
      font-size: 16px;
    }
    .author__role {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 800;
      line-height: 1.4;
    }
    .author__name {
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 25px;
    }
    .author__photo {
      margin: 25px 0 35px;
      .photo__img {
        display: block;
        object-fit: cover;
        width: 100px;
        height: 100px;
        border: 5px solid $light-disabled;
        border-radius: 500px;
        margin: 0 auto;
      }
    }
    .author__bio {
      margin-bottom: 40px;
    }
  }
  .project__detail-info {
    background-color: $light-bg;
    padding: 40px 28px;
    .project__parameters {
      .parameter {
        font-size: 14px;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        &__name {
          font-weight: 500;
          order: 1;
        }
        &__value {
          font-weight: 700;
          order: 3;
        }
        &::after {
          content: "";
          background-image: radial-gradient(circle, #ccc 1px, transparent 1.5px);
          background-position: bottom;
          background-size: 1ex 3.5px;
          background-repeat: space no-repeat;
          flex-grow: 1;
          height: 1.125em;
          order: 2;
        }
      }
    }
  }
}

.project__main-title {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.details__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.4;
}

/*------------------Services Page----------------*/

.s-services {
  padding-bottom: 0;

  .items__button-wrapper {
    padding: 4% 0;
    margin-top: 0;
  }

  .service__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 2% 0 4%;
  }

  .service__card {
    border: 1px solid $light-disabled;
    display: flex;
    height: 254px;
    transition: all 0.3s ease;
    position: relative;
    &:hover:before {
      background-color: $accent;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      transition: all 0.3s ease;
      width: 3px;
      height: 30px;
      top: 50%;
      left: -1px;
      margin-top: -15px;
      background-color: $light-disabled;
    }
    .card__text,
    .card__img-wrapper {
      width: 50%;
    }
    .card__text {
      padding: 5% 4%;
    }
    .card__img {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .service__description {
      padding-top: 2%;
    }
    .service__link {
      color: $text-color;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}

/*------------------Blog Page----------------*/
.blog__posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0 45px;
}

.pagination {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  max-width: 320px;
  margin: 0 auto;
  height: 36px;
  align-items: center;
  &-numbers {
    display: flex;
    align-items: center;
  }
  &-number {
    line-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: $even-corners;
    margin: 6px;
  }
  &-link {
    color: $text-color;
    text-decoration: none;
    line-height: 36px;
    width: 36px;
    height: 36px;
    padding: 10px 16px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: $even-corners;
    &:hover {
      color: $deep-dark;
      background-color: rgba($color: #000, $alpha: 0.05);
    }
    &.active {
      background-color: $accent;
      color: #fff;
    }
  }
  .pagination-prev,
  .pagination-next {
    border: none;
    background-color: transparent;
    color: $accent;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    &[disabled] {
      color: $light-disabled;
      text-decoration: none;
    }
  }
}

/*------------------About Page----------------*/
.s-company__about,
.s-company__benefits,
.s-company__partners {
  padding: 0;
}

.s-company__benefits {
  text-align: center;
  padding-bottom: 0;
}

.company__tabs {
  padding-left: 36px;
  .tab {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    height: 100%;
    display: none;
    visibility: hidden;
    max-height: 100%;
    &.active {
      transition-delay: 0.2s;
      height: auto;
      max-height: 100%;
      opacity: 1;
      display: block;
      visibility: visible;
    }
  }
}

.about__info {
  padding: 40px 0;
  background-color: $light-bg;
  margin: 4% 0;

  .details__title {
    text-align: center;
  }
  .about-info__navigation {
    padding: 10px 0;
  }
  .navigation__link {
    display: block;
    padding: 10px 30px;
    color: #666;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgba(#666, 0.1);
    }
    &.active {
      background-color: $accent;
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.benefit__items {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  .benefit__item {
    padding: 20px 0;
    margin-right: 20px;
    flex-basis: calc(36.6666666% - 60px);
    .benefit__icon {
      min-height: 42px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .article__title {
      margin: 10px 0;
    }
    .article__text {
      margin: 15px 0;
      font-size: 14px;
    }
    .benefit__link {
      color: $text-color;
      transition: all 0.3s ease;
      text-decoration: none;
      &:hover {
        color: $accent;
        text-decoration: underline;
      }
    }
    .read-more__link {
      &:hover {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}

.partners__wrapper {
  margin: 4% 0;
  .partner__item {
    display: flex;
  }
}

.partner__text {
  .partner__description {
    margin-bottom: 2rem;
  }
}

.item-logo__wrapper {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  min-height: 90px;
  margin-right: 20px;
  background-color: $dark;
  border-radius: $even-corners;
  .partner__logo {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    max-width: 82.5%;
  }
  .partner__logo[alt="milano"] {
    width: 106px;
  }
  .partner__logo[alt="mazzucato"] {
    width: 130px;
  }
  .partner__logo[alt="fanfani"] {
    width: 130px;
  }
  .partner__logo[alt="cappelini"] {
    width: 80px;
  }
}

/*------------------Feedback Page----------------*/
.feedback__form {
  .feedback__input,
  .feedback__textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: $even-corners;
    border-color: $light-disabled;
    transition: all 0.3s ease;
    &::placeholder {
      color: #888;
    }
    &:active,
    &:focus {
      border-color: $accent;
    }
  }
  .feedback__textarea {
    margin-bottom: 30px;
  }
  .feedback__button {
    display: block;
    margin: 0 auto;
    width: 67%;
  }
}

.s-contacts {
  text-align: center;
  border-bottom: 5px solid #2d3137;

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0 3%;
    .contacts__location {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
      .contacts__map-marker {
        margin-right: 8px;
        align-self: start;
        width: 12px;
        height: auto;
      }
      .contacts__address {
        color: #989da5;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 0;
      }
    }
  }
}

.map {
  height: 550px;
  .ol-zoom {
    position: absolute;
    top: 8px;
    left: 8px;
    .ol-zoom-in,
    .ol-zoom-out {
      border: 2px solid $middle-gray;
      margin-right: 8px;
    }
  }
  .ol-attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
    button[title="Attributions"] {
      display: none;
      border: 1px solid $light-disabled;
    }
    ul {
      background-color: rgba(#fff, 0.75);
      padding: 0 5px;
      li {
        color: #9c9c9c;
        a {
          color: #000;
        }
      }
    }
  }
  .ol-rotate {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border: 1px solid $dark-div;
  }
}

/*-----------------Media Queries----------------*/
@media screen and (max-width: 1199px) {
  .home-header__slider {
    .home-header-slider__controls {
      width: 35%;
      left: 45%;
      .header-slider__scrollbar {
        width: 40%;
        left: 30%;
      }
    }
  }

  .header__navbar {
    .navbar__menu {
      .navbar-menu__link {
        padding: 10px;
        margin-right: 5px;
      }
    }
  }
  .s-services {
    .service__card {
      .service__description {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .home-header {
    height: 100vh;
    .header__content {
      padding: 30px 0;
    }
  }
  .home-header__slider {
    .home-header-slider__controls {
      .header-slider__navigation {
        right: 0;
      }
      .header-slider__pagination {
        margin-right: 0;
      }
    }
  }

  .header__navbar,
  .header__navbar--white {
    .navbar__menu {
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      height: 300px;
      background-color: transparent;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 2;
      a.navbar-menu__link {
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        display: block;
        width: 100%;
        &.active {
          background-color: transparent;
        }
      }
      &.open {
        visibility: visible;
        overflow: hidden;
        right: 0;
        opacity: 1;
        width: 72.5%;
        background-color: $dark;
        padding-top: 20px;
        .navbar-menu__link {
          color: #fff;
          height: auto;
          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
            color: $accent;
          }
          &.active {
            background-color: transparent;
            color: $accent;
          }
        }
      }
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .navbar__social,
  .navbar__social--innerpage {
    display: none;
  }

  .header__hero {
    .hero__title {
      margin-top: 15px;
      font-size: 3rem;
    }
  }

  .s-trust {
    .trust__inner {
      flex-direction: column;
      .trust__teasers {
        width: 100%;
        text-align: center;
      }
    }
    .trust__title {
      &::after {
        left: calc(50% - 110px);
      }
    }
  }

  .teaser__list {
    .teaser__item {
      flex: 0 1 100%;
    }
  }

  .trust__call {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    .call__button {
      align-self: center;
    }
  }

  .s-bestworks {
    .bestworks__top-content {
      flex-direction: column-reverse;
      width: 100%;
      .bestworks__description,
      .bestworks__heading {
        width: 100%;
        padding: 0;
      }
      .bestworks__description {
        text-align: left;
        border: none;
      }
    }
    .bestworks__items {
      .bestworks__item {
        height: auto;
        .item__content {
          padding: 25px;
        }
      }
    }
  }
  .s-projects {
    .projects__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }
  }
  .s-services {
    .service__cards-wrapper {
      grid-template-columns: 1fr;
    }
  }
  .blog__posts {
    grid-template-columns: 1fr;
  }

  .feedback__form {
    .feedback__button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-header__slider {
    .home-header-slider__controls {
      .header-slider__scrollbar {
        display: none;
      }
    }
  }
  .project__top-line {
    flex-direction: column;
    .project__breadcrumbs,
    .item__location {
      width: 100%;
    }
    .project__breadcrumbs {
      margin-bottom: 15px;
    }
    .item__location,
    .item__address {
      margin-bottom: 0;
    }
  }
  .benefit__items {
    flex-direction: column;
    .benefit__item {
      flex-basis: auto;
      border-bottom: 1px solid #e7e7e8;
      &:last-child {
        border: none;
      }
    }
  }
  .bt-gray {
    border-color: transparent;
  }

  .partner__text {
    .partner__description {
      margin-bottom: 1rem;
    }
  }
  .item-logo__wrapper {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .header__hero {
    .header-hero__wrapper {
      padding: 0 15px;
    }
  }
  .home-header__slider {
    .home-header-slider__controls {
      width: 50%;
      left: 30%;
    }
  }

  .s-about {
    .about-image__wrapper {
      &::before {
        display: none;
      }
    }
  }

  .s-projects {
    grid-auto-flow: column;
    .projects__wrapper {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
  }
  .pagination {
    max-width: 310px;
    &-number {
      margin: 3px;
    }
  }
}

@media screen and (max-width: 320px) {
}
